*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container-fluid{
    height:100vh;
    width: 100vw;
}

.game-board {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(25,1fr);
}

.total-score{
    height:10%
}

.head{
    background-color: red;
}

.food{
    background-color: black;
}
